{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
              <h3>Are you sure you want to delete {{ object }}</h3>
              <form method="POST">
                {% csrf_token %}
                  <button class="btn btn-outline-danger" type="submit">Yes, delete</button>
              </form>
          </div>
        </main>
        {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}
      </div>
    </div>
{% endblock content %} 